examples/example.json
[{"id":"e1ef9d1f30ce5f92","type":"tab","label":"Example","disabled":false,"info":"","env":[]},{"id":"5d3642d658e515c0","type":"group","z":"e1ef9d1f30ce5f92","name":"Keyboard","style":{"fill":"#d1d1d1","label":true,"label-position":"n","color":"#001f60"},"nodes":["529d0b7aae334e5e","ea5a6b0c3c0e7794"],"x":88,"y":13,"w":724,"h":474},{"id":"0eab98679b959168","type":"group","z":"e1ef9d1f30ce5f92","name":"Mouse","style":{"label":true,"label-position":"n","color":"#001f60","fill":"#d1d1d1"},"nodes":["b0d3ba7a699dfa74","ec1f78529025fc7c","e5cb1724f09a4d04","497f492bc4145692","74b35238bd4ae68a","93fe286ab89d8e79","9f28606450d8549c","dd3ea902ec093a6f","b07477d074c050b6","e439b11e9db1be80","323e84a419bef649","1f88e096389f428b","9f390cbedbb90940","c82ec65b12d05a78","2f7704b04c6d6b5f","61f7529939cd5304","92e53dfd3624f71e","7fdd9d9e12a707f0","9aa9be2e93154a90","94b23f7498260b13","ed3054d793ec7a79","d1a73c710eb0b18b"],"x":114,"y":539,"w":662,"h":522},{"id":"16430cda3ca27394","type":"group","z":"e1ef9d1f30ce5f92","name":"Screen","style":{"fill":"#d1d1d1","label":true,"label-position":"n","color":"#001f60"},"nodes":["09c2e8df1617d72d","08e415db2d537420","b7762453accb78b1","171f2a352916ab99","4c449ed79580f7eb","befad09bc567d607","5842b7fe231bf742","590f873ae88b2bde","323e98f713b57d6b","a5dacddad4194c5c"],"x":134,"y":1119,"w":592,"h":342},{"id":"529d0b7aae334e5e","type":"group","z":"e1ef9d1f30ce5f92","g":"5d3642d658e515c0","name":"Key Tap","style":{"label":true,"label-position":"n","color":"#ff0000"},"nodes":["5829194ab249ef95","5c063479cffa87ed","40510ca89a250c1c","2a438596923df624","0ea594b4444d1f0e","59ed5fd5d6b10748","c5c4a7d7778b16dc","faa8cce79c04ceef","42e4686caa8096d7","56db532cf1035eab"],"x":114,"y":39,"w":632,"h":242},{"id":"ea5a6b0c3c0e7794","type":"group","z":"e1ef9d1f30ce5f92","g":"5d3642d658e515c0","name":"Type String","style":{"label":true,"label-position":"n","color":"#ff0000"},"nodes":["0ad1751a140544b2","87ee1976c1a14aeb","484d2bb6e9947ac9","cf8b8642ea7c7d9d","7ae31b8870e06207","25b8e912c1d29d1a","c78588c1a71d6f84"],"x":114,"y":299,"w":672,"h":162},{"id":"5829194ab249ef95","type":"keyboard","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"Key Tap - a","action":"tap","param1":"a","param2":"","x":610,"y":120,"wires":[[]]},{"id":"5c063479cffa87ed","type":"inject","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":210,"y":120,"wires":[["40510ca89a250c1c"]]},{"id":"40510ca89a250c1c","type":"delay","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":120,"wires":[["5829194ab249ef95"]]},{"id":"2a438596923df624","type":"comment","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"Open editor during the delay","info":"","x":400,"y":80,"wires":[]},{"id":"0ea594b4444d1f0e","type":"keyboard","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"control + shift + a","action":"tap","param1":"a","param2":"[\"control\",\"shift\"]","x":630,"y":180,"wires":[[]]},{"id":"59ed5fd5d6b10748","type":"inject","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":210,"y":180,"wires":[["c5c4a7d7778b16dc"]]},{"id":"c5c4a7d7778b16dc","type":"delay","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":180,"wires":[["0ea594b4444d1f0e"]]},{"id":"faa8cce79c04ceef","type":"keyboard","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"control + a","action":"tap","param1":"a","param2":"control","x":610,"y":240,"wires":[[]]},{"id":"42e4686caa8096d7","type":"inject","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":210,"y":240,"wires":[["56db532cf1035eab"]]},{"id":"56db532cf1035eab","type":"delay","z":"e1ef9d1f30ce5f92","g":"529d0b7aae334e5e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":240,"wires":[["faa8cce79c04ceef"]]},{"id":"0ad1751a140544b2","type":"keyboard","z":"e1ef9d1f30ce5f92","g":"ea5a6b0c3c0e7794","name":"send hello text","action":"type","param1":"hello","param2":"","x":620,"y":340,"wires":[[]]},{"id":"87ee1976c1a14aeb","type":"inject","z":"e1ef9d1f30ce5f92","g":"ea5a6b0c3c0e7794","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":210,"y":340,"wires":[["484d2bb6e9947ac9"]]},{"id":"484d2bb6e9947ac9","type":"delay","z":"e1ef9d1f30ce5f92","g":"ea5a6b0c3c0e7794","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":340,"wires":[["0ad1751a140544b2"]]},{"id":"cf8b8642ea7c7d9d","type":"comment","z":"e1ef9d1f30ce5f92","g":"ea5a6b0c3c0e7794","name":"Open editor during the delay","info":"","x":400,"y":380,"wires":[]},{"id":"7ae31b8870e06207","type":"keyboard","z":"e1ef9d1f30ce5f92","g":"ea5a6b0c3c0e7794","name":"send text with 2sec delay","action":"type","param1":"hello","param2":"30","x":650,"y":420,"wires":[[]]},{"id":"25b8e912c1d29d1a","type":"inject","z":"e1ef9d1f30ce5f92","g":"ea5a6b0c3c0e7794","name":"inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":210,"y":420,"wires":[["c78588c1a71d6f84"]]},{"id":"c78588c1a71d6f84","type":"delay","z":"e1ef9d1f30ce5f92","g":"ea5a6b0c3c0e7794","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":420,"wires":[["7ae31b8870e06207"]]},{"id":"b0d3ba7a699dfa74","type":"inject","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":220,"y":620,"wires":[["e5cb1724f09a4d04"]]},{"id":"ec1f78529025fc7c","type":"mouse","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"Click","action":"click","param1":"","param2":"","x":600,"y":620,"wires":[[]]},{"id":"e5cb1724f09a4d04","type":"delay","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":620,"wires":[["ec1f78529025fc7c"]]},{"id":"497f492bc4145692","type":"comment","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"hover on any desktop icon","info":"","x":430,"y":580,"wires":[]},{"id":"74b35238bd4ae68a","type":"inject","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":700,"wires":[["9f28606450d8549c"]]},{"id":"93fe286ab89d8e79","type":"mouse","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"Double click","action":"doubleClick","param1":"","param2":"","x":620,"y":700,"wires":[[]]},{"id":"9f28606450d8549c","type":"delay","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":700,"wires":[["93fe286ab89d8e79"]]},{"id":"dd3ea902ec093a6f","type":"inject","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":780,"wires":[["e439b11e9db1be80"]]},{"id":"b07477d074c050b6","type":"mouse","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"Right click","action":"rightClick","param1":"","param2":"","x":620,"y":780,"wires":[[]]},{"id":"e439b11e9db1be80","type":"delay","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":780,"wires":[["b07477d074c050b6"]]},{"id":"323e84a419bef649","type":"inject","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":840,"wires":[["1f88e096389f428b"]]},{"id":"1f88e096389f428b","type":"mouse","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"mouse position","action":"getPosition","param1":"","param2":"","x":420,"y":840,"wires":[["9f390cbedbb90940"]]},{"id":"9f390cbedbb90940","type":"debug","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":840,"wires":[]},{"id":"c82ec65b12d05a78","type":"inject","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":900,"wires":[["61f7529939cd5304"]]},{"id":"2f7704b04c6d6b5f","type":"mouse","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"Mouse move","action":"move","param1":"{\"x\":100,\"y\":100}","param2":"","x":620,"y":900,"wires":[[]]},{"id":"61f7529939cd5304","type":"delay","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":900,"wires":[["2f7704b04c6d6b5f"]]},{"id":"92e53dfd3624f71e","type":"inject","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":960,"wires":[["9aa9be2e93154a90"]]},{"id":"7fdd9d9e12a707f0","type":"mouse","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"Mouse move smooth","action":"moveSmooth","param1":"{\"x\":100,\"y\":100}","param2":"","x":650,"y":960,"wires":[[]]},{"id":"9aa9be2e93154a90","type":"delay","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":410,"y":960,"wires":[["7fdd9d9e12a707f0"]]},{"id":"94b23f7498260b13","type":"inject","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1020,"wires":[["d1a73c710eb0b18b"]]},{"id":"ed3054d793ec7a79","type":"mouse","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"Drag and Drop","action":"dragDrop","param1":"{\"x\":40,\"y\":20}","param2":"{\"x\":200,\"y\":200}","x":630,"y":1020,"wires":[[]]},{"id":"d1a73c710eb0b18b","type":"delay","z":"e1ef9d1f30ce5f92","g":"0eab98679b959168","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":400,"y":1020,"wires":[["ed3054d793ec7a79"]]},{"id":"09c2e8df1617d72d","type":"inject","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1160,"wires":[["08e415db2d537420"]]},{"id":"08e415db2d537420","type":"screen","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"color","action":"color","path":"","param1":"{\"x\":50, \"y\":50}","param2":"","x":420,"y":1160,"wires":[["b7762453accb78b1"]]},{"id":"b7762453accb78b1","type":"debug","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1160,"wires":[]},{"id":"171f2a352916ab99","type":"inject","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1240,"wires":[["4c449ed79580f7eb"]]},{"id":"4c449ed79580f7eb","type":"screen","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"screen size","action":"size","path":"","param1":"{\"x\":50, \"y\":50}","param2":"","x":440,"y":1240,"wires":[["befad09bc567d607"]]},{"id":"befad09bc567d607","type":"debug","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":1240,"wires":[]},{"id":"5842b7fe231bf742","type":"inject","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1320,"wires":[["590f873ae88b2bde"]]},{"id":"590f873ae88b2bde","type":"screen","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"screen shot","action":"screenshot","path":"C:/Users/ramac/Desktop/screenshot.png","param1":"{\"x\":50, \"y\":50}","param2":"{\"x\":350, \"y\":350}","x":440,"y":1320,"wires":[[]]},{"id":"323e98f713b57d6b","type":"inject","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":1420,"wires":[["a5dacddad4194c5c"]]},{"id":"a5dacddad4194c5c","type":"screen","z":"e1ef9d1f30ce5f92","g":"16430cda3ca27394","name":"full screen shot","action":"fullScreen","path":"C:/Users/ramac/Desktop/full_screenshot.png","param1":"{\"x\":50, \"y\":50}","param2":"{\"x\":350, \"y\":350}","x":450,"y":1420,"wires":[[]]}]